---
import NavbarTogglerLogo from "./_navbar-toggler-logo.astro";
import BtnAbertura from "./_btn-abertura.astro";
import NavUser from "./_nav-user.astro";
---

<div class="nav-app">
    <div class="container-fluid">
        <section class="d-flex justify-content-between">
            <NavbarTogglerLogo />

            <div class="d-flex align-items-center gap-1">
                <BtnAbertura />
                <NavUser />
            </div>
        </section>
    </div>
</div>
