---
import Layout from "@layouts/Layout.astro";
import Header from "@includes/Header.astro";
import "./_card-principal.css";
---

<Layout>
    <Header />

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <div class="slide-in-blurred-top principal-cards">
                <div class="col-card">
                    <a class="link-card" href="/systems/pex/dashboard/">
                        <figure>
                            <div class="content-icon">
                                <i class="bi bi-clipboard-data text-app-green-400"></i>
                            </div>

                            <strong>Em Construção</strong>
                        </figure>
                        <h4 class="bg-app-green-400">Dashboard</h4>
                    </a>
                </div>

                <div class="col-card">
                    <a class="link-card" href="/systems/pex/avaliacao/">
                        <figure>
                            <div class="content-icon">
                                <i class="bi bi-file-earmark-check text-app-green-400"></i>
                            </div>
                        </figure>
                        <h4 class="bg-app-green-400">Avaliação</h4>
                    </a>
                </div>

                <div class="col-card">
                    <a class="link-card" href="/systems/pex/relatorios/">
                        <figure>
                            <div class="content-icon">
                                <i class="bi bi-files text-app-green-400"></i>
                            </div>
                        </figure>
                        <h4 class="bg-app-green-400">Relatórios</h4>
                    </a>
                </div>

                <div class="col-card">
                    <a class="link-card" href="/systems/pex/material-treinamento/">
                        <figure>
                            <div class="content-icon">
                                <i class="bi bi-easel2 text-app-green-400"></i>
                            </div>
                        </figure>
                        <h4 class="bg-app-green-400">Material de Treinamento</h4>
                    </a>
                </div>
            </div>
        </section>
    </main>
</Layout>


