---
import Head from "@includes/head.astro";
import ContentForm from "./_content-form.astro";
---

<!doctype html>
<html lang="pt-br">
    <head>
        <Head />
    </head>

    <body class="body-popup">
        <form method="POST" id="" action="">
            <ContentForm />
        </form>
    </body>
</html>
