<div class="navbar-collapse offcanvas-collapse nav-modulos" id="navbarSideCollapse">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/principal/">Principal</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/modulos/relatorios/exporta_base/">Exporta Base</a>
            </li>
        </ul>
    </div>
</div>
