---
import Layout from '@layouts/Layout.astro';
import Header from '@includes/Header.astro';
import BtnPrincipal from '@components/Btns/BtnPrincipal.astro';
import '@styles/_card-principal.css'

const cards = [
    {
        name: "Dashboard",
        icon: "bi bi-clipboard-data text-app-green-400",
        nameClassColor: "bg-app-green-400",
        link: "/systems/implantacao/dashboard/",
    },
    {
        name: "Acompanhamento",
        icon: "bi bi-file-earmark-check text-app-green-400",
        nameClassColor: "bg-app-green-400",
        link: "/systems/implantacao/acompanhamento/status/",
    },
    {
        name: "Relatórios",
        icon: "bi bi-files text-app-green-400",
        nameClassColor: "bg-app-green-400",
        link: "/systems/implantacao/relatorios/",
    },
    {
        name: "Material de Treinamento",
        icon: "bi bi-easel2 text-app-green-400",
        nameClassColor: "bg-app-green-400",
        link: "/systems/implantacao/material-treinamento/",
    }
];
---

<Layout>
    <Header />

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <div class="d-flex align-items-center justify-content-between gap-1">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="/principal/" data-bs-toggle="tooltip" data-bs-title="Principal">
                                <i class="bi bi-house-fill"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/systems/implantacao/">Implantação</a>
                        </li>
                    </ol>

                    <BtnPrincipal />
                </div>
            </nav>

            <div class="slide-in-blurred-bottom principal-cards">
                {
                    cards.map(({ link, icon, name, nameClassColor }) => (
                        <div class="col-card">
                            <a class="link-card" href={link}>
                                <figure>
                                    <div class="content-icon">
                                        <i class={icon}></i>
                                    </div>
                                </figure>
                                <h4 class={nameClassColor}>{name}</h4>
                            </a>
                        </div>
                    ))
                }
            </div>
        </section>
    </main>
</Layout>
