<section class="box-left">
    <div class="content-box-left">
        <div class="logo-login">
            <img class="img-fluid puff-in-center" src="/assets/images/logo.png" alt="logo" />
        </div>
    </div>
</section>
